* {
  box-sizing: border-box;
}

body {
  background: #000000;
  color: lightgray;
  font-size: 28px;
  font-family: "Inconsolata", monospace;
  font-weight: 700px;
}

#container {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

#board {
  width: 900px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 48px;
  min-height: 60px;
}

#hangman {
  float: left;
  width: 450px;
  text-align: center;
  min-height: 280px;
}

#alphabet {
  float: left;
  width: 450px;
  text-align: center;
  min-height: 280px;
}

.letter {
  width: 40px;
  height: 40x;
  text-align: center;
  padding: 5px;
  margin: 5px;
  border: solid 3px gray;
  float: left;
  cursor: pointer;
  border-radius: 5px;
}

.letter:hover {
  background: #222222;
  color: white;
  border: 3px solid white;
}

.reset {
  color: green;
  cursor: pointer;
  font-size: 48px;
}

.reset:hover {
  color: white;
}
